@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border-style: none; */
  background-color: black;
  color: white;
}
.main_container {
  height: 100vh;
  min-height: 100vh;
  font-family: "Montserrat", serif;
  font-size: medium;
}
.form_container {
  height: 80vh;
  width: 35%;
}
.text{
    color: #a9a9a9; 
    font-size: 15px;
}
input[type="radio"]:hover{
    cursor: pointer;
}
.hover_icon:hover{
    background-color: #008b45 !important;
}

@media (max-width: 1200px){
.form_container{
  width: 55%;
}
}
@media (max-width: 850px) {
  .form_container{
    width: 65%;
  }
 }

@media (max-width: 562px) {
  .radio_label {
    width: 34%;
    gap: 0.7rem;
    font-size: clamp(10px, calc(0.7 * 34vw), 14px);
  }
  .text{
    width: 100%;
    font-size: 12px;
  }
 
}
@media (max-width: 389px) {
  .radio_label {
    width: 24%;
    gap: 0.7rem;
    font-size: clamp(9px, calc(0.7 * 23vw), 11px);
  }
  .text{
    width: 100%;
    font-size: 9px;
  }
  
}

